<div class="row">
    <div class="col-md-12">
        <h4 class="blog-post-section-header">Blogs</h4>
        <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    {% for blogPost in site.blogPosts %}
                    <div class="col-md-12">
                        <h3 class="blog-post-title"><u>{{ blogPost.title }}</u></h3>
                        <img class="img-responsive" src="{{ blogPost.imgUrlOne }}" alt="">
                        <div class="row">
                            <div class="col-md-12">
                                <span class="blog-post-publication-date label label-default pull-left">Published {{ blogPost.publicationDate | date_to_string }}<span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h5 class="blog-post-description">{{ blogPost.description }}</h5>
                        <p class="blog-post-paragraph">{{ blogPost.paragraphOne }}</p>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <a href="{{ blogPost.imgUrlTwoLink }}">
                                <img class="img-responsive blog-post-portrait-image-border" src="{{ blogPost.imgUrlTwo }}" alt="">
                            </a>
                            <p class="blog-post-subtitle">{{ blogPost.imgUrlTwoSubtitle }}⁠</p>
                        </div>
                    </div>
                        <p class="blog-post-paragraph">{{ blogPost.paragraphTwo }}</p>
                        <hr />
                    </div>
                    {% endfor %}
                </div>
        </div>
    </div>
</div>