<section id="latestInstaPosts">
    <!-- Latest Posts -->
    <div class="content-section-a">
    
        <div class="container">

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-center">Latest Insta Posts</h4>
                    <hr />
                    <div class="lead">{{ post.content }}</div>
                    <div class="col-lg-10 col-lg-offset-1">
                        <img class="img-responsive" src="img/latest_insta_posts/spice.jpg" alt="">
                        <p class="latest_insta_post_title text-center"><i class="fa fa-fire" aria-hidden="true"></i> Fire N Spice <i class="fa fa-fire" aria-hidden="true"></i></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
        <!-- Latest Posts -->
    </section>
    