<section id="latestPosts">
    <!-- Latest Posts -->
    <div class="content-section-a">
    
        <div class="container">

            <div class="row">
                <div class="col-md-6 col-md-offset-3" style="background-color: red;">
                    <h4 class="text-center">Latest Posts</h4>
                    <hr />
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead">{{ post.content }}</div>
                    <div class="col-lg-6 col-lg-offset-3">
                            <img class="img-responsive" src="img/services/dog.png" alt="">
                        </div>
                </div>
            </div>

        </div>
    </div>
        <!-- Latest Posts -->
    </section>
    