<section id="latestInstaPosts">
    <!-- Latest Posts -->
    <div class="content-section-a latest-insta-post-background">
    
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <h2 class="latest-insta-post-title text-center">Latest Insta Posts</h4>
                    <hr />
                    <div class="row">
                        <div class="col-lg-4">
                            <a href="https://www.instagram.com/p/B0nneBHAtOj/">
                                <img class="img-responsive latest-insta-post-border" src="img/latest_insta_posts/spice.jpg" alt="">
                            </a>
                            <p class="latest-insta-post-sub-title text-center">🔥🌶️𝓕𝓲𝓻𝓮 𝓝 𝓢𝓹𝓲𝓬𝓮🌶️🔥⁠</p>
                        </div>
                        <div class="col-lg-4">
                            <a href="https://www.instagram.com/p/B0nneBHAtOj/">
                                <img class="img-responsive latest-insta-post-border" src="img/latest_insta_posts/spice.jpg" alt="">
                            </a>
                            <p class="latest-insta-post-sub-title text-center">🔥🌶️𝓕𝓲𝓻𝓮 𝓝 𝓢𝓹𝓲𝓬𝓮🌶️🔥⁠</p>
                        </div>
                        <div class="col-lg-4">
                            <a href="https://www.instagram.com/p/B0nneBHAtOj/">
                                <img class="img-responsive latest-insta-post-border" src="img/latest_insta_posts/spice.jpg" alt="">
                            </a>
                            <p class="latest-insta-post-sub-title text-center">🔥🌶️𝓕𝓲𝓻𝓮 𝓝 𝓢𝓹𝓲𝓬𝓮🌶️🔥⁠</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
        <!-- Latest Posts -->
    </section>
    