<section id="latestInstaPosts">
    <!-- Latest Posts -->
    <div class="content-section-a latest-insta-post-background">
    
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <h4 class="latest-insta-post-title text-center">Latest Insta Posts</h4>
                    <hr />
                    <div class="row">
                            {% for instagramPost in site.instagramPosts %}
                            <div class="col-lg-4">
                                    <a href="{{ instagramPos.linkUrl }}">
                                        <img class="img-responsive latest-insta-post-border" src="{{ instagramPost.imgUrl }}" alt="">
                                    </a>
                                    <p class="latest-insta-post-sub-title text-center">{{ instagramPost.subTitle }}⁠</p>
                                </div>
                            {% endfor %}
                        <!-- <div class="col-lg-4">
                            <a href="https://www.instagram.com/p/BxU_273BUOO/">
                                <img class="img-responsive latest-insta-post-border" src="img/latest_insta_posts/BOSS_PINK_SUIT_TRAINER_GREYTOP_STYLING.jpg" alt="">
                            </a>
                            <p class="latest-insta-post-sub-title text-center">🔥 𝓒𝓪𝓵𝓵 𝓲𝓽 𝓼𝓶𝓪𝓼𝓾𝓪𝓵 🔥⁠</p>
                        </div>
                        <div class="col-lg-4">
                            <a href="https://www.instagram.com/p/BxrU5nlBTYh/">
                                <img class="img-responsive latest-insta-post-border" src="img/latest_insta_posts/BOSS_denim_blazer_dress_.jpg" alt="">
                            </a>
                            <p class="latest-insta-post-sub-title text-center">🔥 𝕸𝖔𝖓𝖉𝖆𝖞 𝖒𝖔𝖙𝖎𝖛𝖆𝖙𝖔𝖗 👍</p>
                        </div>
                        <div class="col-lg-4">
                            <a href="https://www.instagram.com/p/BzI7ZeegsTL/">
                                <img class="img-responsive latest-insta-post-border" src="img/latest_insta_posts/slave4ubossstyling.jpg" alt="">
                            </a>
                            <p class="latest-insta-post-sub-title text-center">🔥 𝕊𝕃𝔸𝕍𝔼 𝟜 ℕ𝕆𝔹𝕆𝔻𝕐 🔥⁠</p>
                        </div> -->
                    </div>
                </div>
            </div>

        </div>
    </div>
        <!-- Latest Posts -->
    </section>
    